<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Software_Eng_ASOEE_2024"
        tools:targetApi="31">
        <activity
            android:name=".views.Login.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.SignUp.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".views.PrescreptionExecution.Selection.PrescriptionSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".views.PrescreptionExecution.Execution.PrescriptionExecutionActivity"
            android:exported="true" />
        <activity
            android:name=".views.PrescriptionCreation.PatientSearching.PatientSearchingActivity"
            android:exported="true" />
        <activity
            android:name=".views.PrescriptionCreation.Creation.PrescriptionCreationActivity"
            android:exported="true" />
        <activity
            android:name=".views.Report.ReportActivity"
            android:exported="true" />
        <activity
            android:name=".views.NOHCS.NOHCSSelectionActivity"
            android:exported="true" />
        <activity
            android:name=".views.ActiveSubstanceEdit.Choice.ActiveSubstanceChoiceActivity"
            android:exported="true" />
        <activity
            android:name=".views.ActiveSubstanceEdit.Creation.ActiveSubstanceCreationActivity"
            android:exported="true" />
        <activity
            android:name=".views.ActiveSubstanceEdit.Edit.ActiveSubstanceEditActivity"
            android:exported="true" />
        <activity
            android:name=".views.ActiveSubstanceEdit.Deletion.ActiveSubstanceDeleteActivity"
            android:exported="true" />
        <activity
            android:name=".views.PharmaceuticalProductEdit.Choice.PharmaceuticalProductChoiceActivity"
            android:exported="true" />
        <activity
            android:name=".views.PharmaceuticalProductEdit.Creation.PharmaceuticalProductCreationActivity"
            android:exported="true" />
        <activity
            android:name=".views.PharmaceuticalProductEdit.Edit.PharmaceuticalProductEditActivity"
            android:exported="true" />
        <activity
            android:name=".views.PharmaceuticalProductEdit.Deletion.PharmaceuticalProductDeleteActivity"
            android:exported="true" />
    </application>

</manifest>